In [1]:
price = 10

In [2]:
print(price)

10

In [3]:
price = 20
print(price)

20

In [4]:
rating = 4.9
name = 'Mosh'

In [5]:
is_published = False

In [6]:
name = 'John Smith'
age = 20
is_new = True

In [7]:
name = input('what is your name ? ')
print ('Hi '+name)

what is your name ? Mosh
Hi Mosh

In [18]:
name = input('Enter your name : ')
color = input('Enter your fav color : ')
print(name + " likes " +color)

Enter your name : oneillk2
Enter your fav color : red
oneillk2 likes red

In [21]:
birth_year = input('Birth year : ')
age = 2019 - int(birth_year)
print(age)

Birth year : 1996
23

In [15]:
birth_year = input('Birth year : ')
print(type(birth_year))
age = 2019 - int(birth_year)
print(type(age))
print(age)

Birth year : 1996
<class 'str'>
<class 'int'>
23

In [24]:
weight_lbs  = input("Enter weight in lbs : ")
weight_kg = int(weight_lbs) * 0.45
print (weight_kg)

Enter weight in lbs : 123
55.35

In [18]:
course = 'Python for "beginners"'
print(course)

Python for "beginners"

In [20]:
course = ''' 
Hi john,

Here is our first email to you.

Thank you
'''
print(course)

Hi john,

Here is our first email to you.

Thank you

In [25]:
course = 'Python for beginners'
print(course[0])
print(course[1])
print(course[2])

P
y
t
s
r

In [26]:
print(course[-1])
print(course[-2])

s
r

In [27]:
print (course[0:4])

Pyth

In [28]:
print (course[1:])

ython for beginners

In [30]:
print(course[:5])

Pytho

In [31]:
another = course[:]

In [32]:
print(another)

Python for beginners

In [35]:
name= 'Jennifer'
print(name [1:-1])

ennife

In [45]:
first = 'John'
last = 'Smith'
message =   first + ' [' + last + '] is a coder'
msg = f'{first} [{last}] is a coder' # formatted String
print(msg)

John [Smith] is a coder

In [3]:
first = 'John'
last = 'Smith'
msg = f'{first} {last} is a coder' # formatted String
print(msg)

John Smith is a coder

In [4]:
course = 'Python for Beginners'
print(len(course))

20

In [2]:
H1 = 'Hello world '
H1.upper()
print (H1.upper())

HELLO WORLD

In [9]:
H1 = 'Hello world '
H1.lower()
print (H1.lower())

hello world

In [15]:
print(H1.find('H'))

0

In [16]:
print(H1.find('world'))
#starting from 6

6

In [17]:
print(H1.replace('world', 'oneillk2'))

Hello oneillk2

In [4]:
H1= 'Hello World !!'
H1.title()

'Hello World !!'

In [9]:
H1.find('e') # find index of the character

1

In [17]:
print (10 + 2)
print (9 - 2)
print (2 * 2)
print (10 / 3)
print (10 // 3)
print (10 % 3) 
print (10 ** 3)

12
7
4
3.3333333333333335
3
1
1000

In [23]:
x = 10
x = x + 3
print (x)

y = 10
y += 3 # Augmented assigment operator
print (y)

z = 10
z -= 3
print (z)

13
13
7

In [25]:
a = 10 + 3 * 2
print (a)

16

In [26]:
a = 10 + 3 * 2 ** 2
print (a)

22

In [27]:
a = (10 + 3)* 2 ** 2
print (a)

52

In [28]:
x = (2 + 3) * 10 -3
print (x)

47