In [1]:
price = 10

In [2]:
print(price)

10

In [3]:
price = 20
print(price)

20

In [4]:
rating = 4.9
name = 'Mosh'

In [5]:
is_published = False

In [6]:
name = 'John Smith'
age = 20
is_new = True

In [7]:
name = input('what is your name ? ')
print ('Hi '+name)

what is your name ? Mosh
Hi Mosh

In [18]:
name = input('Enter your name : ')
color = input('Enter your fav color : ')
print(name + " likes " +color)

Enter your name : oneillk2
Enter your fav color : red
oneillk2 likes red

In [21]:
birth_year = input('Birth year : ')
age = 2019 - int(birth_year)
print(age)

Birth year : 1996
23

In [15]:
birth_year = input('Birth year : ')
print(type(birth_year))
age = 2019 - int(birth_year)
print(type(age))
print(age)

Birth year : 1996
<class 'str'>
<class 'int'>
23

In [24]:
weight_lbs  = input("Enter weight in lbs : ")
weight_kg = int(weight_lbs) * 0.45
print (weight_kg)

Enter weight in lbs : 123
55.35

In [18]:
course = 'Python for "beginners"'
print(course)

Python for "beginners"

In [20]:
course = ''' 
Hi john,

Here is our first email to you.

Thank you
'''
print(course)

Hi john,

Here is our first email to you.

Thank you

In [25]:
course = 'Python for beginners'
print(course[0])
print(course[1])
print(course[2])

P
y
t
s
r

In [26]:
print(course[-1])
print(course[-2])

s
r

In [27]:
print (course[0:4])

Pyth

In [28]:
print (course[1:])

ython for beginners

In [30]:
print(course[:5])

Pytho

In [31]:
another = course[:]

In [32]:
print(another)

Python for beginners

In [35]:
name= 'Jennifer'
print(name [1:-1])

ennife

In [45]:
first = 'John'
last = 'Smith'
message =   first + ' [' + last + '] is a coder'
msg = f'{first} [{last}] is a coder' # formatted String
print(msg)

John [Smith] is a coder

In [3]:
first = 'John'
last = 'Smith'
msg = f'{first} {last} is a coder' # formatted String
print(msg)

John Smith is a coder

In [4]:
course = 'Python for Beginners'
print(len(course))

20

In [2]:
H1 = 'Hello world '
H1.upper()
print (H1.upper())

HELLO WORLD

In [9]:
H1 = 'Hello world '
H1.lower()
print (H1.lower())

hello world

In [15]:
print(H1.find('H'))

0

In [16]:
print(H1.find('world'))
#starting from 6

6

In [17]:
print(H1.replace('world', 'oneillk2'))

Hello oneillk2

In [4]:
H1= 'Hello World !!'
H1.title()

'Hello World !!'

In [9]:
H1.find('e') # find index of the character

1

In [17]:
print (10 + 2)
print (9 - 2)
print (2 * 2)
print (10 / 3)
print (10 // 3)
print (10 % 3) 
print (10 ** 3)

12
7
4
3.3333333333333335
3
1
1000

In [23]:
x = 10
x = x + 3
print (x)

y = 10
y += 3 # Augmented assigment operator
print (y)

z = 10
z -= 3
print (z)

13
13
7

In [25]:
a = 10 + 3 * 2
print (a)

16

In [26]:
a = 10 + 3 * 2 ** 2
print (a)

22

In [27]:
a = (10 + 3)* 2 ** 2
print (a)

52

In [28]:
x = (2 + 3) * 10 -3
print (x)

47

In [ ]:
# Functions

In [5]:
x = 2.9
print(round (x))

a = 1.3
print (round(a))

b = 1.6
print (round (b))

3
1
2

In [6]:
# abs() return the absolute value of a number

In [7]:
print (abs(-2.9))

2.9

In [8]:
print (abs(-1.4))

1.4

In [20]:
import math
# https://docs.python.org/3/library/math.html

In [17]:
print (math.ceil(2.9)) 
# Return the smallest integer greater than or equal to x

3

In [18]:
print (math.floor(2.9)) 
# Return the largest integer less than or equal to x.

2

# if statements

In [ ]:
# if it's hot
#    It's a hot day
#    Drink plenty of water
# otherwise if it's cold
#    It's a cold day
#    Wear warm clothes
# otherwise
#    It's a lovely day

In [38]:
is_hot = False
is_cold = False

if is_hot:
    print ("It's a hot day Drink plenty of water")

elif is_cold:
    print (" It's a cold day Wear warm clothes")
    
else :
    print ("It's a lovely day")
    
print ("Enjoy your day !!")

It's a lovely day
Enjoy your day !!

In [49]:
is_weekday = True
is_weekend = False

if is_weekday:
    print ("It's a Work day ")
    
elif is_weekend:
    print ("It's a holiday")

It's a Work day

In [68]:
has_goodcredit = False
price = 1000000;

if has_goodcredit:   
    downpay = (price * 10) / 100
    print ("Down payment 10% : $",downpay)
else:
    downpay = (price * 20) / 100
    print("Down payment 20% $",downpay)

Down payment 20% $ 200000.0

# Logical Operators

In [78]:
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
    print ("Eligible for loan")
    
    # AND

Eligible for loan

In [79]:
has_high_income = True
has_good_credit = False

if has_high_income or has_good_credit:
    print ("Eligible for loan")

    # OR

Eligible for loan

In [21]:
temp = int(input("temp : "))
if temp > 30:
    print ("It's a hot day !!")
else:
    print ("It's not a hot day !!")

temp : 100
It's a hot day !!

In [22]:
name = input("Name : ")

if len(name) < 3:
    print (" Name Must Be at least 3 characters ")
elif len(name) > 50:
    print (" Name can be maximum 50 characters ")
else:
    print ("Name Looks good ")

Name : ab
 Name Must Be at least 3 characters

In [40]:
weight = int(input('Weight : '))
unit = input('(L)bs or (K)g : ')

if unit.upper() == "L":
    converted = weight * 0.45
    print (f"You are {converted} killos")
    
else:
    converted = weight / 0.45
    print (f"You are {converted} Pounds")

Weight : 100
(L)bs or (K)g : K
You are 222.22222222222223 Pounds